/** {
    box-sizing: border-box;
}*/
html li a {
    min-width: 35%;
    overflow-x: hidden;
    /*text-transform: uppercase;*/
}

body,h1,h2,h3,h4 {
    min-width: 0%;
    font-weight: 100;
    margin-bottom: 0;
   /* margin: auto;*/
}
.wrapper {
    width: 90%;
    /*margin-bottom: -50px;*/
    margin: auto;
    text-align: center;
    overflow-x: hidden;
    
}

/*Fonts --------------*/

@font-face {
    font-family: "Royal Acid Bath";
    src: url("Fonts/Royalacid_o.ttf");
}
@font-face {
    font-family: "Royal Acid";
    src: url("Fonts/Royalacid.ttf");
}

@font-face {
    font-family: "Routhers";
    src: url("Fonts/Routhers.ttf");
}
   
@font-face {
    font-family:"AkzidenzGrotesk-Regular";
    src: url("AkzidenzGrotesk-Regular.otf")
}

@font-face {
    font-family:"Alba";
    src: url("ALBA.TTF");
}

@font-face {
    font-family:"Arnold";
    src: url("ARNORG__.TTF");
}

/*Base Styles-------------------*/

body {
 
    background: #8e8e8e;
    font-family: "AkzidenzGrotesk", Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 1.7em;
    overflow-x: hidden;
}

.top {
    padding-top: 50px;
}

h1 {  
  font-size: 5em;  /*900px/16px*/
  color: yellow;
    /*background-color: #7B5F44;
    border: 2px solid yellow;*/
  text-transform: uppercase;
  /*font-family: 'Lato', sans-serif;*/
    line-height: 80px;
    margin-top: 5em;
    text-align: center;
}

h2 {
    font-size: 3em;
    font-family: "Alba", Helvetica, sans-serif;
  /*  font-family: 'Lato', sans-serif;*/
    font-weight: 100;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
    line-height: 70px;
    color: yellow;
    text-align: center;
    /*background-color: #7B5F44;*/
    border: 3px yellow solid;
    text-decoration-line: underline;

    
}

p {
   font-size: 1em;
   font-family: "AkzidenzGrotesk-Regular", serif;
    color: yellow;
    text-align: center;
/*    background-color: #7B5F44;*/ 
    padding: 10px;
    letter-spacing: 1.25px;
    font-size: .75em;
    line-height: 1.2;
    background-color: #7B5F44;
    border-color: yellow;
    border-style: solid;
    border-width: 2px;
 
    
    
}

#src {
    width: 50%;
}

/*.primary-content {
    margin:auto;
    text-align: center;
}*/

.main-header {
    padding-bottom: 36px;
    position: relative;
}


   nav a {
        text-align: center;
        margin-bottom: 10px;
          
    }

.charlie-bear {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 0%;
    z-index: 1;


}

 .email {
    font-size: .8em;
    background-color: #7B5F44;
    border: 3px solid yellow;
    color: white;
    /* text-decoration: underline; */
    margin-left: 6%;
    margin-right: 6%;
    }

/*.email {
}*/

#button {
    font-size: .75em;
    background-color: yellow;
    color: black;
    padding: 8px 5px;
    border: 2px solid black;
    text-decoration: underline;
    
    }

form {
    margin-right: 15%;
    margin-left: 15%;
    /*padding-bottom: 10px;*/
    
    
}

input {
    color: yellow;
    text-decoration: underline;
    
}
/*textarea */{
    margin: auto;
    text-align: center;
    margin-right: -70%;
    margin-left: -70%;
    width: 99%;
    /*text-align: center;*/
    border: 3px solid yellow;
    margin-bottom: 10px;
    /*margin-right: -15%;
    margin-left: -15%;*/
    overflow-x: hidden;
}

input {
    display: block;
    background-color: white;
    color: black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    margin-top: -3%;
    text-align: center;
    /*text-decoration: underline;*/ 
}

.email h3 {
    color: yellow;
    font-size: 1em;
    /*margin-bottom: 3%;*/
    /*border: 2px yellow solid;*/
    /*text-decoration: underline;*/
}

li.product {
    
    display: block;
    position: static;
    font-size: 1em;
    color: yellow;
    text-align: center;
    padding: 10px 10px;
    margin-top: 149px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -5%;
    border: 3px solid yellow;
    background-color: #7B5F44;
   /* text-transform: capitalize;*/
   
   /* text-decoration: underline;*/
     
}

.description {
    
    display: block;
    font-size: .60em;
    list-style-type: none;
    color: yellow;
    text-align: center;
    padding: 20px 2px;
    /*margin-top: 1em;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -2%;
    /*border: 3px solid yellow;*/
    /*background-color: #7B5F44;*/
    text-transform: uppercase;
   
    text-decoration: underline;
     
}

li.sold-out {
    display: inline;
    font-size: .50em;
    color: yellow;
    /* background-color: #7B5F44; */
    padding: 3% 15%;
    margin-top: -4%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid yellow;
    text-decoration: underline;
    white-space: nowrap;
}



img.cart {
    width: 7%;
    position: absolute;
    left: 10%;
    top: 35%;
    bottom: 35%;
}

img.cart2 {
    width: 7%;
    position: absolute;
    right: 10%;
    bottom: 35%;
    top: 35%;
    transform: scaleX(-1);
}

.sold-out{
    position: relative;
}
ul {

    margin-top: -2em;
    /*margin-bottom: 1em;*/
    padding-left: 0em;
    text-decoration: none;
    padding-bottom: 3%;
    /*border: 2px solid red;*/
/*    position: fixed;*/
    
}

li a {
    /*text-decoration: underline;*/
    padding-bottom: 10px;
}



footer {
    /*background-color: transparent;*/
    width: 100%;
    text-align: center;
}

p mark {
    font-size: 1.5em;
    padding: 10px 5px;
    text-align: center;
    color: yellow;
    /*text-decoration: underline;*/
    background: none;
    /*text-transform: capitalize;*/
    /*text-align: center;*/
}
/* Layout Styles ------------------ */

h4.insta {
    font-size: 1em;
    color: yellow;
    border: 3px solid yellow;
    padding: 10px 10px;
    background-color: #7B5F44;
    text-decoration: underline;
    margin-top: 15%;
}

a.insta {
    padding: 100%;
}
.about {
    font-size: 2.3em;
    color: yellow;
    padding-top: 1em;
    /* padding-bottom: 1em; */
    /* border: 2px solid yellow; */
    margin-top: 0em;
    margin-bottom: .75em;
    /*text-decoration: underline;*/
}

/*.window-bears {
    padding-top: 1em;
    text-align: center;
}*/

.window-bears2 {
    width: 89%;
    margin-top: 50px;
    padding-bottom: 1em;
     margin-bottom: -4%;
/*    margin: auto;*/
    text-align: center;
  
    
    
}


.bear-head,.bear-head2 {
    padding-top: 1em;
    z-index: -1;
    
}

.bear-head  {
    width: 15%;
    position: fixed;
    top: 40%;
    left: 6%;
    
}

.bear-head,.bear-head2 {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }

/*
.bear-head {
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }

*/

.bear-head2 {
    width: 15%;
    position: fixed;
    top: 40%;
    right: 5.5%;
    margin-bottom: -4%;
}



.to-top { 
    color: yellow !important;
    font-family: Helvetica, sans-serif;
    font-size: .5em !important;
    line-height: 110%; 
    letter-spacing: 1px;
    top: 0px;
    left: 0px;
    display: inline-block;
    position: fixed;
    text-transform: uppercase;
    z-index: 2;
    background-color: #7B5F44;
    padding: 10px 10px;
    border: 3px yellow solid;
    text-decoration: underline;
    
}

.to-top2 { 
    color: yellow !important;
    font-family: Helvetica, sans-serif;
    font-size: .55em !important;
    line-height: 110%; 
    letter-spacing: 1px;
    top: 0px;
    right: 0px;
    display: inline-block;
    position: fixed;
    text-transform: uppercase;
    z-index: 2;
    background-color: #7B5F44;
    padding: 10px 10px;
    border: 3px yellow solid;
    text-decoration: underline;
    
}

/*.insta h3 {
    font-size: 1em;
        text-align: center;
    line-height: 2em;
    background-color: brown;
    
    }*/


.footer,.push {
    text-align: center;
    height: 50px;
    color: yellow;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

/*.img-wrapper {
    padding-bottom: 50px;
    padding-top: 100px;
}*/


/*.cover {
    margin-top: 151px;
}*/



/* Pseudo-classes ------------------ */


a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: yellow;

}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
}

li.sold-out:hover {
    background-color: white;
}

a:hover {
    background-color: white;
}

h4:hover {
    background-color: white;
}
.insta:hover {
    background-color: white;
    color: black;
}

/*.row::after {
  content: "";
  clear: both;
  display: table;
}*/
    
.clearfix:before,
.clearfix:after 

{
    content: " ";
    display: table;
}
/* Media queries ------------------ */


    
@media (min-width: 900px) {

.to-top { 
    color: yellow !important;
  /*  font-family: "Routhers", Arial, sans-serif;*/
    font-size: 1em !important;
    line-height: 110%; 
    letter-spacing: 1px;
    top: 0px;
    left: 0px;
    display: inline-block;
    position: fixed;
    /*text-transform: uppercase;*/
    z-index: 2;
    background-color: #7B5F44;
    padding: 10px 10px;
    border: 3px yellow solid;
    text-decoration: underline;
    
    
    
}

.to-top2 { 
    color: yellow !important;
   /* font-family: "Routhers", Arial, sans-serif;*/
    font-size: 1em !important;
    line-height: 110%; 
    letter-spacing: 1px;
    top: 0px;
    right: 0px;
    display: inline-block;
    position: fixed;
    /*text-transform: uppercase;*/
    z-index: 2;
    background-color: #7B5F44;
    padding: 10px 10px;
    border: 3px yellow solid;
    text-decoration: underline;
    
}

    .wrapper {
        width: 90%;
    }
    body {
    font-size: 1.5em;
    width: 80%;
    margin:auto;
        
    }
    
    h2 {
           width: 98%;
    }
    
    .insta h3 {
        text-align: center;
    }
    
    footer, {
        text-align: center;
    }
    nav {
        display: inline-block;
        margin-top: 0px;
        padding: 0px;
       /* border: 2px dotted red;*/
    }
      ul {
        
        /*display: inline-block;*/
        text-align: center;
        /*position: fixed;*/
        top: 0;
        right: 0%;
        left: 0%;
        z-index: 4;
          margin-top: 0;   
}
    
    .to-top, .to-top2 {
        font-size: 1.25em;
        padding: 25px;
    }
    
li.product {
    
    display: block;
    position: static;
    color: yellow;
    text-align: center;
    padding: 10px 10px;
    margin-top: 149px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -5%;
    border: 2px solid yellow;
    background-color: #7B5F44;
    text-transform: capitalize;
    font-size: 1.5em;
    text-decoration: underline;
     
}

    .description {
    
    display: block;
    font-size: 1em;
    list-style-type: none;
    color: yellow;
    text-align: center;
    padding: 20px 2px;
    margin-bottom: -7%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: -1%;
    /*border: 3px solid yellow;*/
    /*background-color: #7B5F44;*/
    /*white-space: nowrap;*/
    text-transform: uppercase;
   
   /* text-decoration: underline;*/
     
}
    
img.cart {
    width: 7%;
    position: absolute;
    left: 8%;
    top: 35%;
    bottom: 35%;
}

img.cart2 {
    width: 7%;
    position: absolute;
    right: 8%;
    bottom: 35%;
    top: 35%;
    transform: scaleX(-1);
}
    li a {
        
       width: 100%;
    }
    
    .logos {
        padding-top: 0em;
    }
    
    .email {
    font-size: .8em;
    margin-top: 9em;
    padding-bottom: 20px;
    background-color: #7B5F44;
    border: 2px solid yellow;
    color: white;
    /*text-decoration: underline;*/
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
}
    .window-bears2 {
        
    width: 89%;
    /*padding-bottom: 0em;*/
    margin-bottom: -7%;
    /* margin-bottom: -35px; */
    /* margin: auto; */
    text-align: center;
    }
    
  li.sold-out {
    padding: 2% 12%;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    white-space: nowrap;
    font-size: .75em;
    }  
    
    li.sold-out2 {
    padding: 2% 12%;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    white-space: nowrap;
    font-size: .75em;
    }  
    
    h4.insta {
        margin: 70px 25%;
    }
    .footer {
        position: sticky;
        bottom: 0px
        left: auto;
        right: auto;
    }
}
  
    
@media (min-width:800px) and (max-width:900px) {
      .to-top { 
    color: yellow !important;
  /*  font-family: "Routhers", Arial, sans-serif;*/
    font-size: 1em !important;
    line-height: 110%; 
    letter-spacing: 1px;
    top: 0px;
    left: 0px;
    display: inline-block;
    position: fixed;
    /*text-transform: uppercase;*/
    z-index: 2;
    background-color: #7B5F44;
    padding: 10px 10px;
    border: 3px yellow solid;
    text-decoration: underline;
    
    
    
}

.to-top2 { 
    color: yellow !important;
   /* font-family: "Routhers", Arial, sans-serif;*/
    font-size: 1em !important;
    line-height: 110%; 
    letter-spacing: 1px;
    top: 0px;
    right: 0px;
    display: inline-block;
    position: fixed;
    /*text-transform: uppercase;*/
    z-index: 2;
    background-color: #7B5F44;
    padding: 10px 10px;
    border: 3px yellow solid;
    text-decoration: underline;
    
}

    li {
        
        text-align: center;
        padding-top: 18px;
        padding-bottom: 20px;
        /*text-decoration: underline;*/
        font-size: 1.2em;
        /*border: 2px solid yellow;*/
    }
    
     .to-top, .to-top2 {
        font-size: 1em;
        padding: 25px;
    }
    
    .window-bears2 {
        /*margin-bottom: 0;*/
    }

    li.sold-out {
    padding: 2% 12%;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    white-space: nowrap;
    font-size: .75em;
    }
    
    .email {
    font-size: .8em;
    margin-top: 9em;
    padding-bottom: 20px;
    background-color: #7B5F44;
    border: 2px solid yellow;
    color: white;
    /* text-decoration: underline; */
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
}
    
    
    
   li.product {
    
    display: block;
    position: static;
    color: yellow;
    text-align: center;
    padding: 10px 10px;
    margin-top: 149px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -5%;
    border: 2px solid yellow;
    background-color: #7B5F44;
    text-transform: capitalize;
    font-size: 1.5em;
    text-decoration: underline;
     
    }
    
    h4.insta {
        margin: 70px 25%;
    }
    
    .footer {
        position: sticky;
        bottom: 0px
        left: auto;
        right: auto;
    }
}
  